# Node modules #
node_modules/

# logs #
logs/
doc/

# Git related files. #
*.orig

# CTag
.tags
.tags_sorted_by_file


# Editor bread crumbs. #
*~
# sublime stuff#
*.sublime-project
*.sublime-workspace