doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    title FRIB Cable :: about
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/datatables/css/dataTables.bootstrap.css')
    link(rel='stylesheet', href='/font-awesome-4.2.0/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(data-spy='scroll', data-target='.bs-docs-sidebar')
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='http://www.frib.msu.edu/', target='_blank') FRIB
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='/') Cable
              li
                a(href='http://traveler', target='_blank') Traveler
              li
                a(href='https://controls.frib.msu.edu/controlshelp/', target='_blank') Trouble report
              li
                a(href='/logout') Logout
    header.jumbotron.subhead
      .container
        h1 FRIB Cable
        h2 A Web application to manage cables and cable users

    .container
      .row
        .span3.bs-docs-sidebar
          ul.nav.nav-list.bs-docs-sidenav.affix(data-offset-top='282', data-spy='affix', style="top: 40px;")
            li
              a(href='#user') User management
            li
              a(href='#bar') Bar chart
            li
              a(href='#bug') Bugs and suggestions
        .span9
          section#user
            .page-header
              h2 User management
            p An application admin user can change a user's role and add WBS numbers to a manager's account.
            embed(src="/images/user.swf",width=1024,height=788,quality='low',play=false,loop=false,wmode='transparent',type="application/x-shockwave-flash",pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash")
          section#bar
            .page-header
              h2 Bar chart
            p A user can plot a bar chart for the data loaded in any table. A user can plot the data from different tables by switching the activ tab. By default, all the data in a table is counted and plotted. A user can also filter and select the data to be plotted. The chart can be saved as images by right click on it. All items with an empty property will be counted in a group, and the group has no label on the chart.
            embed(src="/images/bar.swf",width=1024,height=788,quality='low',play=false,loop=false,wmode='transparent',type="application/x-shockwave-flash",pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash")
          section#bug
            .page-header
              h2 Bugs and suggestions
            h4 If you find something not working well or you want a new feature, please contact
              = ' '
              a(href='mailto:liud@frib.msu.edu?Subject=cable%20issues',target='_top') Dong Liu
              | . Thank you.


    script(type='text/javascript', src='/jquery/jquery-1.9.1.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap.js')

