extends layout

block head
  meta(charset='utf-8')
  title #{orgName} Cables
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='/datatables/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='/font-awesome-4.2.0/css/font-awesome.css')
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  .container-fluid(style="margin-top: 10px")
    #message
    #modal.modal.hide.fade(tabindex='-1',role='dialog',data-backdrop='static',aria-labelledby='modalLabel',aria-hidden='true')
      .modal-header
        h3#modalLabel
      .modal-body
      .modal-footer
    .btn-toolbar
        .btn-group
          button.btn.btn-primary#reload
            i.fa.fa-refresh.fa-lg
            | &nbsp;Reload
        .btn-group
          button.btn.btn-primary#bar
            i.fa.fa-bar-chart.fa-lg
            | &nbsp;Bar chart
        .btn-group(data-toggle='buttons-radio')
          button.btn.btn-info#all-wrap.active Wrap
          button.btn.btn-info#all-unwrap Unwrap
        .btn-group
          a.btn.btn-info#gotobottom(href='#gototop')
            i.fa.fa-arrow-down.fa-lg
            | &nbsp;Jump to bottom
    table#all-cable.table.table-bordered.table-hover
    .btn-toolbar
        .btn-group
          a.btn.btn-info#gototop(href='#gotobottom')
            i.fa.fa-arrow-up.fa-lg
            | &nbsp;Jump to top


block js
  script(type='text/javascript', src='/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='/datatables/js/jquery.dataTables.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='/datatables/js/ZeroClipboard.js')
  script(type='text/javascript', src='/datatables/js/TableTools.js')
  script(type='text/javascript', src='/datatables/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='/dependencies/lodash.js')
  script(type='text/javascript', src='/dependencies/moment.js')
  script(type='text/javascript', src='/javascripts/table.js')
  script(type='text/javascript', src='/dependencies/Chart.js')
  script(type='text/javascript', src='/javascripts/barchart.js')
  script(type='text/javascript', src='/javascripts/ajaxhelper.js')
  script(type='text/javascript', src='/javascripts/all-cable.js')
