doctype 5
html
  head
    block head
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='http://www.frib.msu.edu/') FRIB
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='./') Cable
              li
                a(href='http://liud-dev.nscl.msu.edu:3001') Traveler
              li
                a(href='other') Other
              li
                a(href='other') Another
              li
                a(href='./logout') Logout
    block content

    block js
