extends layout

block head
  meta(charset='urf-8')
  title FRIB Cable App
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='/datatables/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  .container-fluid
    .btn-toolbar
      .btn-group
        a.btn.btn-primary#new(href='./requests/new', target='_blank') New Request
      .btn-group.dropdown
        a#meta.btn.dropdown-toggle(data-toggle='dropdown') Meta
          span.caret
        ul.dropdown-menu
          li#numbering
            a(href='./numbering', target='_blank') FRIB cable numbering
          li#cabletypes
            a(href='./cabletypes', target='_blank') FRIB approved cable types
          li#wbs
            a(href='./frib/wbs', target='_blank') FRIB work breakdown structure
          li#wbs
            a(href='./rea6/wbs', target='_blank') ReA 6 work breakdown structure
          li#rooms
            a(href='./frib/rooms', target='_blank') FRIB rooms
          li#rooms
            a(href='./nscl/rooms', target='_blank') NSCL rooms
      .btn-group
        a.btn(href='/profile', target='_blank') Profile
      .btn-group
        a.btn.btn-warning(href='/switch-to-management') Switch to management view
      .btn-group
        a.btn.btn-info(href='./about', target='_blank') About
    #message
    .tabbable.tabs-left#tabs
      ul.nav.nav-tabs
        li.active
          a(href='#saved', data-toggle='tab') Saved
        li
          a(href='#submitted', data-toggle='tab') Submitted
        li
          a(href='#rejected', data-toggle='tab') Rejected
        li
          a(href='#approved', data-toggle='tab') Approved
        li
          a(href='#installed', data-toggle='tab') Installed
      .tab-content
        #saved.tab-pane.active
          .btn-toolbar
            .btn-group
              button.btn.btn-primary#saved-clone
                i.icon-copy
                | &nbsp;Clone
            .btn-group
              button.btn.btn-warning#saved-delete
                i.icon-trash
                | &nbsp;Delete
            .btn-group
              button.btn#saved-select-none
                i.icon-list.icon-light
                | &nbsp;Clear selection
            #saved-show.btn-group
              button.btn.dropdown-toggle(data-toggle='dropdown') Show
                span.caret
              ul.dropdown-menu
                li
                  label.checkbox
                    input#saved-from(type='checkbox', value='from')
                    | from
                li
                  label.checkbox
                    input#saved-to(type='checkbox', value='to')
                    | to
                li
                  label.checkbox
                    input#saved-comments(type='checkbox', value='comments')
                    | comments
                li.divider
                li
                  a(href='#restore') restore
          table#saved-table.table.table-bordered.table-hover
        #submitted.tab-pane
          table#submitted-table.table.table-bordered.table-hover
        #approved.tab-pane
          table#approved-table.table.table-bordered.table-hover
        #rejected.tab-pane
          .btn-toolbar
            .btn-group
              button.btn.btn-primary#saved-clone Clone
            .btn-group
              button.btn.btn-warning#saved-delete Delete
          table#rejected-table.table.table-bordered.table-hover
        #installed.tab-pane
          p the list of installed cables

block js
  script(type='text/javascript', src='/javascripts/jquery-1.9.1.js')
  script(type='text/javascript', src='/datatables/js/jquery.dataTables.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='/datatables/js/ZeroClipboard.js')
  script(type='text/javascript', src='/datatables/js/TableTools.js')
  script(type='text/javascript', src='/datatables/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='/javascripts/moment.js')
  script(type='text/javascript', src='/javascripts/lodash.js')
  script(type='text/javascript', src='/javascripts/table.js')
  script(type='text/javascript', src='/javascripts/main.js')


