extends layout

block head
  meta(charset='urf-8')
  title FRIB Cable App
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='/datatables/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='/font-awesome-4.2.0/css/font-awesome.css')
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  .container-fluid
    .btn-toolbar
      .btn-group
        a.btn.btn-primary#new(href='./requests/new', target='_blank')
          i.fa.fa-file-o.fa-lg
          | &nbsp;New Request
      .btn-group
        button.btn.btn-primary#reload
          i.fa.fa-refresh.fa-lg
          | &nbsp;Reload
      .btn-group.dropdown
        a#meta.btn.dropdown-toggle(data-toggle='dropdown')
          i.fa.fa-gears.fa-lg
          | &nbsp;Meta
          span.caret
        ul.dropdown-menu
          //- li#numbering
          //-   a(href='./numbering', target='_blank') FRIB cable numbering
          li#cabletypes
            a(href='./cabletypes', target='_blank') FRIB approved cable types
          li#wbs
            a(href='./frib/wbs', target='_blank') FRIB work breakdown structure
          li#wbs
            a(href='./rea6/wbs', target='_blank') ReA 6 work breakdown structure
          //- li#rooms
          //-   a(href='./frib/rooms', target='_blank') FRIB rooms
          //- li#rooms
          //-   a(href='./nscl/rooms', target='_blank') NSCL rooms
          //- li#rooms
          //-   a(href='./srf/rooms', target='_blank') SRF highbay rooms
          //- li.divider
          //- li
          //-   a(href='/workpackages', target='_blank') Work packages
      .btn-group
        a.btn(href='/profile', target='_blank')
          i.fa.fa-user.fa-lg
          | &nbsp;Profile
      if (roles.length)
        .btn-group
          a.btn.btn-warning(href='/')
            i.fa.fa-exchange.fa-lg
            |&nbsp;Switch to management view
      .btn-group
        a.btn.btn-info(href='./about', target='_blank')
          i.fa.fa-info.fa-lg
          |&nbsp;About
    #message
    #modal.modal.hide.fade(tabindex='-1',role='dialog',data-backdrop='static',aria-labelledby='modalLabel',aria-hidden='true')
      .modal-header
        h3#modalLabel
      .modal-body
      .modal-footer
    .tabbable.tabs-left#tabs
      ul.nav.nav-tabs
        li.active
          a(href='#saved', data-toggle='tab') Saved
        li
          a(href='#submitted', data-toggle='tab') Submitted
        li
          a(href='#rejected', data-toggle='tab') Rejected
        li
          a(href='#approved', data-toggle='tab') Approved
        li
          a(href='#cables', data-toggle='tab') Cables
      .tab-content
        #saved.tab-pane.active
          .btn-toolbar
            .btn-group
              button.btn.btn-primary#saved-submit
                i.fa.fa-check-square-o.fa-lg
                | &nbsp;Submit for approval
            .btn-group
              button.btn.btn-primary#saved-clone
                i.fa.fa-copy.fa-lg
                | &nbsp;Clone
            .btn-group
              button.btn.btn-warning#saved-delete
                i.fa.fa-trash-o.fa-lg
                | &nbsp;Delete
            .btn-group
              button.btn.btn-info#saved-select-all
                i.fa.fa-list.fa-lg
                | &nbsp;Select all
            .btn-group
              button.btn.btn-info#saved-select-none
                i.fa.fa-square-o.fa-lg
                | &nbsp;Clear selection
            .btn-group(data-toggle='buttons-radio')
              button.btn.btn-info#saved-wrap.active Wrap
              button.btn.btn-info#saved-unwrap Unwrap

            #saved-show.btn-group
              button.btn.btn-info.dropdown-toggle(data-toggle='dropdown')
                i.fa.fa-wrench.fa-lg
                | &nbsp;Show
                span.caret
              ul.dropdown-menu
                li
                  label.checkbox
                    input(type='checkbox', value='from', checked)
                    | from
                li
                  label.checkbox
                    input(type='checkbox', value='to', checked)
                    | to
                li
                  label.checkbox
                    input(type='checkbox', value='comments', checked)
                    | comments
            //- button#saved-filter.btn.btn-primary(type='button',data-toggle='collapse',data-target='#saved-filters') Filter by date
          //- #saved-filters.collapse
          //-   .control-group
          //-     .control-label Created date
          //-     .controls
          //-       input.input-small(placeholder='from')
          //-       input.input-small(placeholder='to')
          //-   .control-group
          //-     .control-label Updated date
          //-     .controls
          //-       input.input-small(placeholder='from')
          //-       input.input-small(placeholder='to')
          table#saved-table.table.table-bordered.table-hover
        #submitted.tab-pane
          .btn-toolbar
            .btn-group
              button.btn.btn-primary#submitted-clone
                i.fa.fa-copy.fa-lg
                | &nbsp;Clone
            .btn-group
              button.btn.btn-warning#submitted-revert
                i.fa.fa-step-backward.fa-lg
                | &nbsp;Revert to saved
            .btn-group
              button.btn.btn-info#submitted-select-all
                i.fa.fa-list.fa-lg
                | &nbsp;Selection all
            .btn-group
              button.btn.btn-info#submitted-select-none
                i.fa.fa-square-o.fa-lg
                | &nbsp;Clear selection
            .btn-group(data-toggle='buttons-radio')
              button.btn.btn-info#submitted-wrap.active Wrap
              button.btn.btn-info#submitted-unwrap Unwrap
            #submitted-show.btn-group
              button.btn.btn-info.dropdown-toggle(data-toggle='dropdown')
                i.fa.fa-wrench.fa-lg
                | &nbsp;Show
                span.caret
              ul.dropdown-menu
                li
                  label.checkbox
                    input(type='checkbox', value='from', checked)
                    | from
                li
                  label.checkbox
                    input(type='checkbox', value='to', checked)
                    | to
                li
                  label.checkbox
                    input(type='checkbox', value='comments', checked)
                    | comments
                //- li.divider
                //- li
                //-   a(href='#restore') restore
          table#submitted-table.table.table-bordered.table-hover

        #approved.tab-pane
          .btn-toolbar
            .btn-group
              button.btn.btn-primary#approved-clone
                i.fa.fa-copy.fa-lg
                | &nbsp;Clone
            .btn-group
              button.btn.btn-info#approved-select-all
                i.fa.fa-list.fa-lg
                | &nbsp;Selection all
            .btn-group
              button.btn.btn-info#approved-select-none
                i.fa.fa-square-o.fa-lg
                | &nbsp;Clear selection
            .btn-group(data-toggle='buttons-radio')
                button.btn.btn-info#approved-wrap.active Wrap
                button.btn.btn-info#approved-unwrap Unwrap
            #approved-show.btn-group
              button.btn.btn-info.dropdown-toggle(data-toggle='dropdown')
                i.fa.fa-wrench.fa-lg
                | &nbsp;Show
                span.caret
              ul.dropdown-menu
                li
                  label.checkbox
                    input(type='checkbox', value='from', checked)
                    | from
                li
                  label.checkbox
                    input(type='checkbox', value='to', checked)
                    | to
                li
                  label.checkbox
                    input(type='checkbox', value='comments', checked)
                    | comments

          table#approved-table.table.table-bordered.table-hover
        #rejected.tab-pane
          .btn-toolbar
            .btn-group
              button.btn.btn-primary#rejected-clone
                i.fa.fa-copy.fa-lg
                | &nbsp;Clone
            .btn-group
              button.btn.btn-warning#rejected-delete
                i.fa.fa-trash.fa-lg
                | &nbsp;Delete
            .btn-group
              button.btn.btn-info#rejected-select-all
                i.fa.fa-list.fa-lg
                | &nbsp;Selection all
            .btn-group
              button.btn.btn-info#rejected-select-none
                i.fa.fa-square-o.fa-lg
                | &nbsp;Clear selection
            .btn-group(data-toggle='buttons-radio')
              button.btn.btn-info#rejected-wrap.active Wrap
              button.btn.btn-info#rejected-unwrap Unwrap

            #rejected-show.btn-group
              button.btn.btn-info.dropdown-toggle(data-toggle='dropdown')
                i.fa.fa-wrench.fa-lg
                | &nbsp;Show
                span.caret
              ul.dropdown-menu
                li
                  label.checkbox
                    input(type='checkbox', value='from', checked)
                    | from
                li
                  label.checkbox
                    input(type='checkbox', value='to', checked)
                    | to
                li
                  label.checkbox
                    input(type='checkbox', value='comments', checked)
                    | comments
                //- li.divider
                //- li
                //-   a(href='#restore') restore
          table#rejected-table.table.table-bordered.table-hover

        #cables.tab-pane
          .btn-toolbar
            .btn-group(data-toggle='buttons-radio')
                button.btn.btn-info#cables-wrap.active Wrap
                button.btn.btn-info#cables-unwrap Unwrap
            #cables-show.btn-group
              button.btn.btn-info.dropdown-toggle(data-toggle='dropdown')
                i.fa.fa-wrench.fa-lg
                | &nbsp;Show
                span.caret
              ul.dropdown-menu
                li
                  label.checkbox
                    input(type='checkbox', value='from', checked)
                    | from
                li
                  label.checkbox
                    input(type='checkbox', value='to', checked)
                    | to
                li
                  label.checkbox
                    input(type='checkbox', value='comments', checked)
                    | comments
          table#cables-table.table.table-bordered.table-hover

block js
  script(type='text/javascript', src='/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='/datatables/js/jquery.dataTables.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='/datatables/js/ZeroClipboard.js')
  script(type='text/javascript', src='/datatables/js/TableTools.js')
  script(type='text/javascript', src='/datatables/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='/jquery/jquery.validate.js')
  script(type='text/javascript', src='/dependencies/moment.js')
  script(type='text/javascript', src='/dependencies/lodash.js')
  script(type='text/javascript', src='/javascripts/table.js')
  script(type='text/javascript', src='/javascripts/main.js')


