extends layout

block head
  meta(charset='urf-8')
  title FRIB Cable App
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='/datatables/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  .container
    .btn-toolbar
      .btn-group
        a.btn.btn-primary#new(href='./requests/new', target='_blank') New Request
      .btn-group.dropdown
        a#meta.btn.dropdown-toggle(data-toggle='dropdown') Meta
          span.caret
        ul.dropdown-menu
          li#numbering
            a(href='./numbering', target='_blank') FRIB cable numbering
          li#add-text
            a(href='./cabletypes', target='_blank') FRIB approved cable types
          li#add-par
            a(href='./wbs', target='_blank') FRIB work breakdown structure
      .btn-group
        a.btn(href='/profile', target='_blank') Profile
      if (roles && roles.length)
        .btn-group
          a.btn.btn-primary(href='/users', target='_blank') Users
      .btn-group
        a.btn.btn-info(href='./about', target='_blank') About
    #message
    .tabbable#tabs
      ul.nav.nav-tabs
        li
          a(href='#saved', data-toggle='tab') Saved
        li.active
          a(href='#submitted', data-toggle='tab') Submitted
        li
          a(href='#adjusted', data-toggle='tab') Adjusted
        li
          a(href='#rejected', data-toggle='tab') Rejected
        li
          a(href='#approved', data-toggle='tab') Approved
        li
          a(href='#installed', data-toggle='tab') Installed
        li
          a(href='#working', data-toggle='tab') Working
      .tab-content
        #saved.tab-pane
          table#saved-table.table.table-bordered.table-hover
        #submitted.tab-pane.active
          table#submitted-table.table.table-bordered.table-hover
        #adjusted.tab-pane
          table#adjusted-table.table.table-bordered.table-hover
        #rejected.tab-pane
          table#rejected-table.table.table-bordered.table-hover
        #approved.tab-pane
          table#approved-table.table.table-bordered.table-hover
        #installed.tab-pane
          p the list of installed cables
        #working.tab-pane
          p the list of working cables

block js
  script(type='text/javascript', src='/javascripts/jquery-1.9.1.js')
  script(type='text/javascript', src='/datatables/js/jquery.dataTables.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='/datatables/js/ZeroClipboard.js')
  script(type='text/javascript', src='/datatables/js/TableTools.js')
  script(type='text/javascript', src='/datatables/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='/javascripts/moment.js')
  script(type='text/javascript', src='/javascripts/underscore.js')
  if (roles && roles.length)
    script(type='text/javascript', src='/javascripts/manage.js')
  else
    script(type='text/javascript', src='/javascripts/main.js')


