extends layout

block head
  meta(charset='urf-8')
  title FRIB Cable App
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='/datatables/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='/ui-lightness/jquery-ui-1.10.2.custom.css')
  link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  .container-fluid
    .btn-toolbar
      .btn-group
        button.btn.btn-primary#reload
          i.icon-refresh
          | &nbsp;Reload
      .btn-group.dropdown
        a#meta.btn.dropdown-toggle(data-toggle='dropdown')
          i.icon-gears
          | &nbsp;Meta
          span.caret
        ul.dropdown-menu
          li#numbering
            a(href='./numbering', target='_blank') FRIB cable numbering
          li#cabletypes
            a(href='./cabletypes', target='_blank') FRIB approved cable types
          li#wbs
            a(href='./frib/wbs', target='_blank') FRIB work breakdown structure
          li#wbs
            a(href='./rea6/wbs', target='_blank') ReA 6 work breakdown structure
          li#rooms
            a(href='./frib/rooms', target='_blank') FRIB rooms
          li#rooms
            a(href='./nscl/rooms', target='_blank') NSCL rooms
      .btn-group
        a.btn.btn-primary(href='/users', target='_blank')
          i.icon-user
          | &nbsp;Users
      .btn-group
        a.btn.btn-warning(href='/switch-to-normal') Switch to user view
      .btn-group
        a.btn.btn-info(href='./about', target='_blank') About
    #message
    #modal.modal.hide.fade(tabindex='-1',role='dialog',data-backdrop='static',aria-labelledby='modalLable',aria-hidden='true')
      .modal-header
        h3#modalLable
      .modal-body
      .modal-footer
    .tabbable.tabs-left#tabs
      ul.nav.nav-tabs
        li.active
          a(href='#approving', data-toggle='tab') To approve
        li
          a(href='#rejected', data-toggle='tab') Rejected
        li
          a(href='#procuring', data-toggle='tab') To procure
        li
          a(href='#installing', data-toggle='tab') To install
        li
          a(href='#installed', data-toggle='tab') Installed
      .tab-content
        #approving.tab-pane.active
          .btn-toolbar
            .btn-group
              button.btn.btn-primary#approving-approve
                i.icon-check-sign
                | &nbsp;Approve
            .btn-group
              button.btn.btn-primary#approving-reject
                i.icon-check-sign
                | &nbsp;Reject
            .btn-group
              button.btn.btn-info#approving-select-none
                i.icon-list.icon-light
                | &nbsp;Clear selection
            .btn-group
              button.btn.btn-info#approving-select-all
                i.icon-list.icon-dark
                | &nbsp;Select all
            .btn-group(data-toggle='buttons-radio')
              button.btn.btn-info#approving-wrap.active Wrap
              button.btn.btn-info#approving-unwrap Unwrap

            #approving-show.btn-group
              button.btn.btn-info.dropdown-toggle(data-toggle='dropdown')
                i.icon-wrench
                | &nbsp;Show
                span.caret
              ul.dropdown-menu
                li
                  label.checkbox
                    input(type='checkbox', value='from', checked)
                    | from
                li
                  label.checkbox
                    input(type='checkbox', value='to', checked)
                    | to
                li
                  label.checkbox
                    input(type='checkbox', value='comments', checked)
                    | comments
                //- li.divider
                //- li
                //-   a(href='#restore') restore
          table#approving-table.table.table-bordered.table-hover
        #rejected.tab-pane
          .btn-toolbar
            .btn-group(data-toggle='buttons-radio')
              button.btn.btn-info#rejected-wrap.active Wrap
              button.btn.btn-info#rejected-unwrap Unwrap
          table#rejected-table.table.table-bordered.table-hover
        #procuring.tab-pane
          .btn-toolbar
            .btn-group
              button.btn#procuring-order(value='order')
                i.icon-check-sign
                | &nbsp;Order
            .btn-group
              button.btn#procuring-receive(value='receive')
                i.icon-check-sign
                | &nbsp;Receive
            .btn-group
              button.btn#procuring-accept(value='accept')
                i.icon-check-sign
                | &nbsp;Accept
            .btn-group
              button.btn.btn-primary#procuring-to-install(value='install')
                i.icon-check-sign
                | &nbsp;Ready to install
            .btn-group
              button.btn.btn-info#procuring-select-none
                i.icon-list.icon-light
                | &nbsp;Clear selection
            .btn-group
              button.btn.btn-info#procuring-select-all
                i.icon-list.icon-dark
                | &nbsp;Select all
            .btn-group(data-toggle='buttons-radio')
              button.btn.btn-info#procuring-wrap.active Wrap
              button.btn.btn-info#procuring-unwrap Unwrap
            #procuring-show.btn-group
              button.btn.btn-info.dropdown-toggle(data-toggle='dropdown')
                i.icon-wrench
                | &nbsp;Show
                span.caret
              ul.dropdown-menu
                li
                  label.checkbox
                    input(type='checkbox', value='from')
                    | from
                li
                  label.checkbox
                    input(type='checkbox', value='to')
                    | to
                li
                  label.checkbox
                    input(type='checkbox', value='comments')
                    | comments
          table#procuring-table.table.table-bordered.table-hover
        #installing.tab-pane
          .btn-toolbar
            .btn-group
              button.btn.btn-info#installing-select-none
                i.icon-list.icon-light
                | &nbsp;Clear selection
            .btn-group
              button.btn.btn-info#installing-select-all
                i.icon-list.icon-dark
                | &nbsp;Select all
            .btn-group(data-toggle='buttons-radio')
              button.btn.btn-info#installing-wrap.active Wrap
              button.btn.btn-info#installing-unwrap Unwrap
            #installing-show.btn-group
              button.btn.btn-info.dropdown-toggle(data-toggle='dropdown')
                i.icon-wrench
                | &nbsp;Show
                span.caret
              ul.dropdown-menu
                li
                  label.checkbox
                    input(type='checkbox', value='from')
                    | from
                li
                  label.checkbox
                    input(type='checkbox', value='to')
                    | to
                li
                  label.checkbox
                    input(type='checkbox', value='comments')
                    | comments
          .btn-toolbar
            .btn-group
              button.btn#installing-label(value='label')
                i.icon-check-sign
                | &nbsp;Label
            .btn-group
              button.btn#installing-benchTerm(value='benchTerm')
                i.icon-check-sign
                | &nbsp;Bench terminate
            .btn-group
              button.btn#installing-benchTest(value='benchTest')
                i.icon-check-sign
                | &nbsp;Bench test
            .btn-group
              button.btn.btn-primary#installing-to-pull(value='pull')
                i.icon-check-sign
                | &nbsp;Ready to pull
            .btn-group
              button.btn#installing-pull(value='pulled')
                i.icon-check-sign
                | &nbsp;Pull
            .btn-group
              button.btn#installing-fieldTerm(value='fieldTerm')
                i.icon-check-sign
                | &nbsp;Field terminate
            .btn-group
              button.btn#installing-fieldTest(value='fieldTest')
                i.icon-check-sign
                | &nbsp;Field test
            .btn-group
              button.btn.btn-primary#installing-to-use(value='use')
                i.icon-check-sign
                | &nbsp;Ready to use
          table#installing-table.table.table-bordered.table-hover
        #installed.tab-pane
          .btn-toolbar
            .btn-group
              button.btn.btn-info#installed-select-none
                i.icon-list.icon-light
                | &nbsp;Clear selection
            .btn-group
              button.btn.btn-info#installed-select-all
                i.icon-list.icon-dark
                | &nbsp;Select all
            .btn-group(data-toggle='buttons-radio')
              button.btn.btn-info#installed-wrap.active Wrap
              button.btn.btn-info#installed-unwrap Unwrap
            #installed-show.btn-group
              button.btn.btn-info.dropdown-toggle(data-toggle='dropdown')
                i.icon-wrench
                | &nbsp;Show
                span.caret
              ul.dropdown-menu
                li
                  label.checkbox
                    input(type='checkbox', value='from')
                    | from
                li
                  label.checkbox
                    input(type='checkbox', value='to')
                    | to
                li
                  label.checkbox
                    input(type='checkbox', value='comments')
                    | comments
          table#installed-table.table.table-bordered.table-hover


block js
  script(type='text/javascript', src='/javascripts/jquery-1.9.1.js')
  script(type='text/javascript', src='/javascripts/jquery-ui-1.10.2.custom.js')
  script(type='text/javascript', src='/datatables/js/jquery.dataTables.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='/datatables/js/ZeroClipboard.js')
  script(type='text/javascript', src='/datatables/js/TableTools.js')
  script(type='text/javascript', src='/datatables/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='/javascripts/moment.js')
  script(type='text/javascript', src='/javascripts/lodash.js')
  script(type='text/javascript', src='/javascripts/table.js')
  script(type='text/javascript', src='/javascripts/util.js')
  script(type='text/javascript', src='/javascripts/manage.js')


