.form-actions
  .btn-group
    button.btn.btn-info#save(type='button') Save changes
  .btn-group
    button.btn.btn-primary#submit(type='button') Submit
  .btn-group
    button.btn.btn-warning(type='reset') Reset