.form-actions
  .btn-group(style='display: none;')
    button.btn.btn-info#save(type='button') Save changes
  .btn-group(style='display: none;')
    button.btn.btn-primary#submit(type='button') Submit
  .btn-group(style='display: none;')
    button.btn.btn-info#adjust(type='button') Save adjustment
  .btn-group(style='display: none;')
    button.btn.btn-warning#reject(type='button') Reject
  .btn-group(style='display: none;')
    button.btn.btn-info#request(type='button') Request approval
  .btn-group(style='display: none;')
    button.btn.btn-primary#approve(type='button') Approve
  .btn-group(style='display: none;')
    button.btn.btn-warning#reset(type='reset') Reset