extends layout

block head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible',content='IE=edge')
  title FRIB Rooms
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='/datatables/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  script.
    var json = '!{json}';
  .container(style="margin-top: 10px")
    #message
    #viz
    //- p
    //- p.pull-right This visualization is generated from ...


block js
  script(type='text/javascript', src='/javascripts/d3.v3.js')
  script(type='text/javascript', src='/javascripts/room.js')
