extends layout

block head
  meta(charset='urf-8')
  title My Working Sheets
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='/datatables/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='/ui-lightness/jquery-ui-1.10.2.custom.css')
  link(rel='stylesheet', href='/font-awesome-4.2.0/css/font-awesome.css')
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  .container-fluid
    #message
    #modal.modal.hide.fade(tabindex='-1',role='dialog',data-backdrop='static',aria-labelledby='modalLabel',aria-hidden='true')
      .modal-header
        h3#modalLabel
      .modal-body
      .modal-footer
    .btn-toolbar
      .btn-group
        button.btn.btn-primary#reload
          i.fa.fa-refresh.fa-lg
          | &nbsp;Reload
      .btn-group
          button.btn.btn-primary#bar
            i.fa.fa-bar-chart.fa-lg
            | &nbsp;Bar chart
    .tabbable.tabs-left#tabs
      ul.nav.nav-tabs
        li.active
          a(href='#active', data-toggle='tab') Active cables
        li
          a(href='#obsoleted', data-toggle='tab') Obsoleted cables
      .tab-content
        #active.tab-pane.active
          .btn-toolbar
            .btn-group
              button.btn.btn-warning#obsolte
                i.fa.fa-trash.fa-lg
                | &nbsp;Obsolete
            .btn-group
              button.btn.btn-info#active-select-all
                i.fa.fa-list.fa-lg
                | &nbsp;Select all in current view
            .btn-group
              button.btn.btn-info#active-select-none
                i.fa.fa-square-o.fa-lg
                | &nbsp;Clear selection
            .btn-group(data-toggle='buttons-radio')
              button.btn.btn-info#approving-wrap.active Wrap
              button.btn.btn-info#approving-unwrap Unwrap
          table#active-table.table.table-bordered.table-hover
        #obsoleted.tab-pane
          .btn-toolbar
            //- .btn-group
            //-   button.btn.btn-info#obsoleted-select-all
            //-     i.fa.fa-list.fa-lg
            //-     | &nbsp;Select all in current view
            //- .btn-group
            //-   button.btn.btn-info#obsoleted-select-none
            //-     i.fa.fa-square-o.fa-lg
            //-     | &nbsp;Clear selection
            .btn-group(data-toggle='buttons-radio')
              button.btn.btn-info#obsoleted-wrap.active Wrap
              button.btn.btn-info#obsoleted-unwrap Unwrap
          table#obsoleted-table.table.table-bordered.table-hover

block js
  script(type='text/javascript', src='/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='/datatables/js/jquery.dataTables.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='/datatables/js/ZeroClipboard.js')
  script(type='text/javascript', src='/datatables/js/TableTools.js')
  script(type='text/javascript', src='/datatables/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='/dependencies/moment.js')
  script(type='text/javascript', src='/dependencies/lodash.js')
  script(type='text/javascript', src='/javascripts/table.js')
  script(type='text/javascript', src='/javascripts/util.js')
  script(type='text/javascript', src='/dependencies/Chart.js')
  script(type='text/javascript', src='/javascripts/workingsheets.js')


